@using simple_crud.Client.Infrastructure
@inherits LayoutComponentBase
@inject LoaderService loaderService

<NavMenu />

<main>
    @Body
</main>
<div class="loader-overlay" id="loader" style="@GetDisplay()">
    <div class="loader"></div>
</div>
<footer>
    <span class="footer-legend">2025 - App de Blogs</span>
</footer>

@code {
    protected override void OnInitialized()
    {
        loaderService.OnChange += StateHasChanged;
    }

    private string GetDisplay() => loaderService.IsLoading ? "display:block;" : "display:none;";
}