<header>
    <NavLink href="" Match="NavLinkMatch.All">App de Blogs</NavLink>
    <div class="header-user-options">
        <NavLink href="registrarme">Registrarme</NavLink>
        <NavLink href="iniciar-sesion">Iniciar sesión</NavLink>
    </div>
</header>
