* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Google Sans", sans-serif;
}

#app {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 4rem auto 1fr;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    min-height: 100dvh;
}

header {
    grid-area: header;
    background-color: #f5f5ea;
    color: #141510;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 4rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(245, 245, 234, 0.75);
    position: sticky;
    top: 0;
    z-index: 2;
}

    header h2,
    header a {
        margin: 0px;
        display: inline-block;
        align-self: center
    }

    header h2 {
        font-size: 1.2rem;
    }

    header a {
        color: var(--primary-color);
        padding: 0.7rem 1.6rem;
        border-radius: 0.9rem;
        text-decoration: none;
        transition: background-color ease-in 0.2s;
    }

        header a:hover {
            background-color: #dddddd88;
        }

.header-user-options {
    align-self: center
}

main {
    grid-area: main;
    padding: 1rem;
    min-height: 60dvh;
    overflow-y: auto;


    .post-flex-list {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        overflow-y: auto;
        max-height: 60dvh;

        li {
            box-sizing: content-box;
            padding: 1rem 1rem;
            border-radius: 0.9rem;
            transition: background-color ease-in 0.2s;
        }

            li:hover {
                cursor: pointer;
                background-color: #f5f5ea;
            }

        .post-date {
            display: block;
            color: grey;
            font-size: 0.7rem;
        }
    }
}

    main h1 {
        margin: 0px;
    }

    main h3 {
        font-size: 2rem;
    }

.post-contenido pre code,
.editor-contenedor pre code {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    display: inline-block;
    background-color: #f4f4f4;
}

footer {
    grid-area: footer;
    background-color: #141510;
    padding: 2rem;
    margin-top: 5rem;
    color: #fff;
    position: relative;
    max-height: 4rem;
    align-self: end;
}

    footer .footer-legend {
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.4rem;
        font-size: 0.7rem
    }

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        font-size: 1.3rem;
        padding: 0.5rem 1.3rem;
        border: 1px solid #dddddd88;
        border-radius: 0.9rem;
    }

    .input-error {
        font-size: 0.7rem;
        color: orangered;
    }

    label, .input-error {
        margin: 0px;
        margin-inline-start: 10px;
    }
}

    form input[type="submit"] {
        background-color: #333;
        color: #f5f5ea;
        cursor: pointer;
        border: none;
        padding: 1rem;
        transition: background-color ease-in 0.2s;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            background-color: #555;
        }
    }

.editor-contenedor {
    height: calc(100dvh - 6rem);
    display: flex;
    flex-direction: row;
    align-items: self-start;

    input {
        width: 100%;
        font-size: 1.3rem;
        padding: 0.5rem 1.3rem;
        border: 1px solid #dddddd88;
        border-radius: 0.9rem;
    }
}

    .editor-contenedor > div {
        width: 100%;
        height: 100%;
        overflow: auto;
        max-width: 100%;
        padding: 0rem 1rem;
        height: min-content;
        max-height: -webkit-fill-available;
    }

.EasyMDEContainer .CodeMirror-scroll {
    cursor: text;
    height: inherit !important;
    max-height: 50dvh;
}

@media (width >= 1024px) {
    main {
        width: 100%;
        max-width: 60%;
        margin: 0px auto;
    }
}

.loader-overlay {
    position: fixed; /* cubre toda la ventana */
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.5); /* fondo opaco/semitransparente */
    z-index: 9999; /* encima de todo */
}

.loader {
    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
    background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
    animation: l7 1s infinite steps(6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    display: none;
}


@keyframes l7 {
    100% {
        background-position: right -25% top 0
    }
}
