<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | App de Blogs</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/simple_crud.Client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h2>App de Blogs</h2>
        <a href="javascript:">Registrarme</a>
        <a href="javascript:">Iniciar sesión</a>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        2025 - App de Blogs
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
